<!Doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Reception</title>
<style>
body{
    margin:0;
    padding:0;
    background-size:cover;
    background-position:center;
    backgroud-attachment:fixed;
    font-family:Arial,sans-serif;
    text-align:center;
    color:#ffffff;
}
</style>
    </head>
    <body>
        <div class="content" loading="ph">
            <div class="cta-buttons">
                <a href="/userlogin">Login</a>
                <a href="/register">Register </a>
      
       </div>
        </div>
    </body>
</html>

