{% extends 'bootstrap/base.html'%}
{% block body %}
    <body>
    <style>
        .login{
            text-align:center;
    
        }
        .form-group {
            text-align:center;
        }
        .btn-login{
            text-align:center;
        }
        .form-group{

        }
        .btn btn-primary{
            text-align:center
        }
        .h{
            text-align:center;
span
        }
        .tab{
            color:blue;
        }
        .field-wrap{
            text-align:center;
        }
        .container{
            width:20%;
        }
        .tab{
            position:relative;
            top:35px;

        }
    </style>

    {% block header %}
        <h1 class="login">{% block title %}LogIn{% endblock %}</h1>
    {% endblock %}

    {% block content %}

        <form method = 'POST' >
            <div class = "field-wrap">
                <div class = "top-row">
            <div class = "container" id = "form-group1">
                <label for = "username"><span>Username</span></label>
                <input type = "username" id ="username" class = "form-control" type = "text" required>
            </div>
            <div class = "container" id = "form-group2">
                <label for = "password"><span>Password</span></label>
                <input type = "password" name = "password" id = "password" class = "form-control"required>
            </div>
            <button type = "submit" class = "tab" style="align:center;">Login</button>


        </form>

    {% endblock %}
    
{% endblock %}
